.streamer {
  &__management {
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    display: flex;
    margin-top: 20px;
    column-gap: 14px;
    button {
      width: 50%;
    }
    &-user {
      margin-top: 10px;
      display: flex;
      align-items: center;
      row-gap: 8px;
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}
