.menu {
  display: flex;
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  touch-action: none;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}
.ad {
  background-color: var(--main-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  &__link {
    color: var(--btn-text-color);
  }
  &__text {
    text-align: center;
  }
}
