.subscriber-profile {
  padding-bottom: 30px;
  background-color: #efeff3;
  &__header {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 20px;
    color: #6d6d71;
  }
}
