@import url("./bootstrap-reboot.min.css");
@import url("./fonts/stylesheet.css");
@import url("./btn.scss");
@import url("./text.scss");
@import url("./input.scss");
* {
  font-family: "Roboto", sans-serif;
  overscroll-behavior: none;
  scrollbar-width: none;
}
p {
  margin: 0;
}
#root,
body {
  touch-action: none;
  outline: none;
  width: 100%;
  overflow-x: hidden;
}
html,
body {
  position: fixed;
}
:root {
  --vh: 1vh;
}

html.is-safari,
html.is-safari body {
  height: calc(var(--vh, 1vh) * 100);
}
#root {
  position: relative;
}
.cover {
  max-width: 100%;
  max-height: 350px;
  object-fit: contain;
  margin-inline: auto;
  border-radius: var(--border-radius);
}
button,
input {
  outline: none;
}
button:focus,
input[type="button"]:focus {
  outline: none;
}
html {
  --overscroll-behavior: none;
  --menu-border-color: #b2b2b233;
  --menu-color: #f2f2f2;
  --line-color: #c6c6c866;
  --main-color: white;
  --menu-text: #959595;
  --input-color: #c8c8cd;
  --text-color: #000000;
  --border-radius: 13px;
  --btn-text-color: #007aff;
  --secondary-color: #eeeeef;
  --txt-2ry-color: #8a8a8e;
  --page-color: #efeff3;
  --btn-opacity: #e6f1ff;
  --green-color: #35c759;

  --live-color: #eb0400;
}
.rabbish {
  height: 50px;
  width: 100%;
}
.section {
  overscroll-behavior: none;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  padding-inline: 15px;
  padding-top: 15px;
}
.live-cicrcle {
  background-color: var(--live-color);
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.line {
  background-color: var(--line-color);
  width: 100%;
  height: 1px;
}
