.input {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 7px;
  color: var(--input-color);
  padding-inline: 20px;
  border: none;
  width: 100%;
  border-radius: 14px;
}
.horizontal-slider {
  width: 100%;
  height: 4px;
  margin: 20px 0;
  margin-top: 56px;
  position: relative;
}
.mark {
  margin-top: 21px;
  &-text {
    font-size: 13px;
    font-weight: 400;
    color: #8a8a8e;
    text-align: center;
  }
}

.example-thumb {
  height: 26px; /* Высота кружка ползунка */
  width: 26px; /* Ширина кружка ползунка */
  background-color: var(--main-color); /* Цвет фона кружка */
  cursor: grab;
  border-radius: 50%; /* Круглый кружок */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%; /* Центрирование по вертикали */
  transform: translate(-50%, -50%); /* Центрирование по горизонтали */
}

.example-track {
  top: 50%; /* Центрирование по вертикали */
  transform: translateY(-50%); /* Центрирование по вертикали */
  height: 4px; /* Высота дорожки */
  background: #e9e9ea;
  border-radius: 999px;
}

.filled-track {
  background: #007aff;
}
.slider-mark {
  display: flex;
  flex-direction: column;
}
textarea {
  color: #c8c8cd;
  border: none;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  resize: none;
  padding: 6px 20px;
  font-weight: 400;
  border-radius: 14px;
  background-color: var(--main-color);
  min-height: 80px;
  height: auto;
}
textarea:focus {
  color: var(--text-color);
  outline: none;
}
input:focus {
  color: var(--text-color);
  outline: none;
}
