.header-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);
}
.details-text {
  color: var(--txt-2ry-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
}
.label-text {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
