.create-raffle {
  &__winner-count {
    .wrapper {
      margin-top: 10px;
      background-color: var(--main-color);
      padding: 10px 20px;
      border-radius: 14px;
    }
    margin-top: 25px;
    &__header {
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}
