.data-picker {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 10px;
  textarea {
    border: 1px solid #8e8e92;
  }
  input {
    border-radius: 14px;
    border: 1px solid #8e8e92;
    color: #8e8e92;
    padding: 5px;
    font-size: 15px;
    height: auto;
    font-weight: 400;
    padding-inline: 10px;
  }
  background-color: var(--main-color);
}
