.create-post-file-picker {
  display: flex;
  flex-direction: column;
  .picker {
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    background-color: var(--main-color);
    color: var(--btn-text-color);
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;

    column-gap: 7px;
  }
}
