.create-raffle__time {
  .react-datepicker-popper {
    display: none;
  }
  .fake-input {
    background-color: #efefef;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    color: var(--text-color);
  }
  .input-wrapper {
    position: relative;
    input {
      min-width: 45px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      opacity: 0;
    }
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
    opacity: 0;
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
    -webkit-appearance: none;
  }
}
