.raffle-result {
  &__subs-header {
    margin-top: 30px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }
  &__time {
    font-size: 14px;
    font-weight: 400;
    color: #8a8a8e;
  }
  display: flex;
  flex-direction: column;
  background-color: #efeff3;
  padding-bottom: 30px;
  &__header {
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }
}
