.streamer-view {
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 8px;
  .details-text {
    margin-top: 7px;
    margin-left: 0;
  }
  .live-circle {
    margin-right: 4px;
  }
  .line {
    margin-top: 24px;
    &-user {
      margin-top: 10px;
    }
  }
  display: flex;
  width: 100%;
  &__avatar {
    object-fit: cover;
    margin-right: 9px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    &-user {
      width: 40px;
      height: 40px;
    }
  }
  &__info {
    overflow-x: hidden;
    width: 100%;
    overflow-y: auto;
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      &-description {
        padding-right: 15px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__name {
    align-items: center;
    .circle {
      background-color: #eb0400;
      height: 8px;
      width: 8px;
      border-radius: 100%;
    }
    column-gap: 4px;
    display: flex;
  }
}
