.streamer {
  &__prizes {
    &-body {
      max-height: 1336px;
      overflow-y: auto;
    }

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &-top {
      margin-bottom: 3px;
      display: flex;
      justify-content: space-between;
      &-header {
        color: var(--btn-text-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        &-active {
          color: var(--text-color);
          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
  }
}
