.streamer-socials-adding {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  &__form {
    &-btn {
      margin-top: 10px;
    }
    margin-top: 7px;
    .wrapper {
      background-color: var(--main-color);
      border-radius: 14px;
    }
  }
}
