.layout {
  height: 100vh;
  position: relative;
  overflow: hidden;
  overscroll-behavior: none;
  &-wrapper {
    height: calc(100% - 132px);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .menu {
    height: 60px;
  }
}
