.streamer-view {
  margin-top: 8px;
  .details-text {
    margin-top: 7px;
  }
  .live-circle {
    margin-right: 4px;
  }
  .line {
    margin-top: 24px;
  }
  display: flex;
  width: 100%;
  &__avatar {
    object-fit: cover;
    margin-right: 9px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      &-description {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__name {
    display: flex;
  }
}
