.streamers {
  height: 100%;
  overflow: hidden;
  &-wrapper {
    overflow-y: auto;
    height: 100%;
    height: auto;
  }
  &-text {
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 9px;
  }
  .header-text {
    margin-bottom: 5px;
    margin-left: 9px;
  }
}
