.prize {
  &__condition {
    display: flex;
    column-gap: 15px;
    align-items: center;
    &-dot {
      height: 4px;
      width: 4px;
      background-color: var(--text-color);
      border-radius: 100%;
    }
  }
  margin-top: 10px;
  &__available-time {
    min-height: 18px;
    bottom: unset;
    left: unset;
    top: 10px;
    padding: 2px;
    right: 10px;
    transform: unset;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding-inline: 6px;
  }
  position: relative;
  &__partipiciant-count {
    min-height: 18px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: auto;
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    background-color: var(--green-color);
    padding: 2px;
    border-radius: 4px;
    padding-inline: 6px;
    opacity: 0px;

    text-align: center;
  }
  border-radius: 6px;
  background-color: var(--main-color);
  padding: 17px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .header-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }
  button {
    margin-top: 20px;
    width: 100%;
  }
  .details-text {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-color);
    text-align: left;
  }
  &__wrapper {
    position: relative;
    width: 110px;
    height: 110px;
  }
  &__conditions {
    width: 100%;
    margin-top: 8px;

    li {
      text-align: left;
      padding: 0;

      margin: 0;
      margin-top: 7px;
    }
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__winner-count {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: var(--main-color);
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    width: 46px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    display: flex;
    border: 2px solid var(--main-color);
    height: 27px;
    background-color: var(--btn-text-color);
  }
}
